node_modules
.DS_Store
.env

# client
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# backend
serviceAccountKey.json

# camera appliance
**/__pycache__/
cameraAppliance/env/
cameraAppliance/dev/